.footer{
    width: 100vw;
    background-color: #000000;
    height: 50vh;
    color: white;
    display: flex;
    align-items: center;
}

.footer .navigation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    gap: 7vw;
}

.footer .navigation > *{
    width: 200px;
}

.footer .navigation .left{
    display: flex;
    justify-content: flex-start;
    gap: 25px;
}

.footer .navigation .left a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.footer .navigation .center{
    text-align: center;
}

.footer .navigation .center .email{
    margin-bottom: 30px;
}

.footer .navigation .right{
    display: flex;
    justify-content: flex-end;
}

.footer .navigation .right .logo{
    height: 80px;
    width: 80px;
    background-color: red;
}

@media screen and (max-width:600px) {
    .footer .navigation{
        justify-content: center;
    }

    .footer .navigation .center .email{
        margin-bottom: 15px;
    }

    .footer .navigation .right{
        justify-content: center;
    }
}