.first-section {
    height: 100vh;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-section .center h1 {
    font-size: 6rem;
    margin: 0;
}

.first-section .center h2 {
    font-size: 2rem;
    margin: 0;
}
.first-section .center h1,
.first-section .center h2{
    text-align: center;
}

.second-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section .first,
.second-section .second{
    max-width: 50%;
}