.first-section {
    height: 100vh;
    width: 100%;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-section .center h1 {
    font-size: 6rem;
    margin: 0;
}

.first-section .center h2 {
    font-size: 2rem;
    margin: 0;
}

.first-section .center h1,
.first-section .center h2{
    text-align: center;
}

.second-section .first,
.second-section .second{
    max-width: 50%;
}

.second-section > * {
    margin: 7vw auto;
}

.second-section .first h3,
.second-section .second h3{
    font-size: 2rem;
}

.second-section .first p,
.second-section .second p{
    text-align: justify;
}

.second-section .third{
    display: flex;
    width: 85%;
    flex-direction: column;
    gap: 7vw;
}

.second-section .third .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    gap: 7vw;
}
.cards .card{
    height: 350px;
    width: 250px;
    background-color: rgb(0, 0, 0);
}

.second-section .third .btns{
    display: flex;
    justify-content: center;
    gap: 10vh;
}

.third .btns .btn{
    height: 50px;
    width: 200px;
}

.third .btns .btn button{
    background-color: rgb(194, 192, 192);
    border: none;
    height: 100%;
    width: 100%;
}